<div class="register-form">
  <h2>Cadastrar</h2>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" placeholder="Digite seu nome" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Digite seu email" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Senha</mat-label>
      <input matInput formControlName="password" placeholder="**********" type="password" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Confirmar Senha</mat-label>
      <input matInput formControlName="confirmPassword" placeholder="**********" type="password" />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="register()">
      Registrar
    </button>
  </form>

  <p>
    Já tem uma conta?
    <button mat-button color="accent" [routerLink]="['/entrar']">Entrar</button>
  </p>
</div>
