@import "../../../variables.scss";

.dashboard {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .dashboard-container {
    display: flex;
    flex-direction: row;
    flex: 1;

    .navbar {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 15%;
      min-width: 200px;
      background-color: $principal-color;
      color: #fff;
      border-right: 1px solid rgba(255, 255, 255, 0.1);
      box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);

      header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color: $principal-color;
        color: #fff;
      
        .logo {
          max-width: 60%;
        }
      
        .logout {
          color: #FEFEFE;
        }
      }

      .navbar-content {
        flex: 1;
        width: 100%;
        ul {
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            transition: background-color 0.3s ease;

            a {
              display: block;
              padding: 15px 20px;
              text-decoration: none;
              color: #fff;

              &:hover {
                background-color: $principal-color;
              }
            }
          }
        }
      }
    }

    .content {
      flex: 1;
      padding: 20px;
      background-color: $white;
    }
  }
}
