<div class="dashboard">
  <mat-sidenav-container
    class="navbar-container">
    <mat-sidenav
      #snav
      [mode]="'side'"
      fixedTopGap="56"
      class="navbar-content"
      [opened]="true">
      <mat-nav-list *ngFor="let nav of fillerNav">
        <a mat-list-item [routerLink]="nav.link">{{ nav.title }}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
