@import "../../../variables.scss";

.dashboard {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .navbar-container {
    flex: 1;

    .navbar-content {
      width: 15%;

      border-radius: 0;
      background-color: $principal-color;

      box-shadow: 5px 0px 10px $grey;
      border-radius: 0 20px 20px 0;
    }
  }
}
