<div class="dashboard">
  <div class="dashboard-container">
    <div class="navbar">
      <header>
        <img src="assets/images/logo-white.png" class="logo" />
        <button
          mat-icon-button
          class="logout"
          (click)="logout()"
          title="Sair"
        >
          <mat-icon>logout</mat-icon>
        </button>
      </header>
      <nav class="navbar-content">
        <ul>
          <li *ngFor="let nav of fillerNav">
            <a *ngIf="nav.show" [routerLink]="nav.link">{{ nav.title }}</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
