<div class="material-list">
  <mat-toolbar class="header" color="primary">
    <span>Listagem de Materiais</span>
    <button class="add" mat-icon-button (click)="openAddDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>

  <div class="card-container">
    <mat-card *ngFor="let element of dataSource" class="mat-elevation-z4 card-item">
      <mat-card-content class="card-content">
        <p class="card-name">{{ element.name }}</p>
        <p><strong>Preço:</strong> {{ +element.price | currency }}</p>
        <p><strong>Quantidade:</strong> {{ element.quantityUnitMeasure }} {{ element.unitMeasure }}</p>
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <button mat-icon-button color="primary" (click)="openViewDialog(element)">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="openEditDialog(element)">
          <mat-icon>edit_outlined</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="delete(element.id)">
          <mat-icon>delete_outlined</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <mat-paginator 
    [length]="totalElements" 
    [pageSize]="pageSize" 
    [pageIndex]="pageIndex" 
    [pageSizeOptions]="[5, 10, 20]" 
    (page)="onPageChange($event)" 
    showFirstLastButtons>
  </mat-paginator>
</div>
