<div class="material-list">
  <mat-toolbar class="header" color="primary">
    <span>Listagem de Materiais</span>
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Pesquisar</mat-label>
      <input matInput (input)="onSearchChange($event)" placeholder="Nome do Material" />
    </mat-form-field>
  </mat-toolbar>

  <div class="table-container">
    <button class="add" mat-icon-button (click)="onCreate()">
      <mat-icon>add</mat-icon> Adicionar
    </button>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 material-table">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Preço </th>
        <td mat-cell *matCellDef="let element"> 
          {{ element.price | currency:'BRL' }} 
        </td>
      </ng-container>

      <ng-container matColumnDef="quantityUnitMeasure">
        <th mat-header-cell *matHeaderCellDef> Quantidade </th>
        <td mat-cell *matCellDef="let element">
          {{ element.quantityUnitMeasure }} {{ element.unitMeasure.label }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element" class="actions">
          <button mat-icon-button color="primary" (click)="onView(element.id)" title="Visualizar">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="onEdit(element.id)" title="Editar">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onDelete(element.id)" title="Excluir">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator
    [length]="totalElements"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
