<div class="material-form">
  <div class="header">
    <button mat-icon-button (click)="back()" aria-label="Voltar">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>{{ pageTitle }}</h1>
  </div>

  <div class="content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Preço</mat-label>
        <input matInput formControlName="price" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="flex: 1">
        <mat-label>Quantidade</mat-label>
        <input matInput formControlName="quantityUnitMeasure" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="flex: 1">
        <mat-label>Unidade de Medida</mat-label>
        <mat-select formControlName="unitMeasure" [compareWith]="compareUnits">
          <mat-option *ngFor="let unit of unitOfMeasureList" [value]="unit">
            {{ unit.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!form.valid"
      >
        Salvar
      </button>
    </form>
  </div>
</div>
