.work-select-list {
    .work-select {
      width: 100%;
    }
  
    .selected-works-box {
      margin-top: 16px;
  
      .card-item {
        margin-bottom: 8px;
        padding: 8px;
      }
    }
  }
  