<div class="work-view">
  <div class="header">
    <button mat-icon-button (click)="back()" aria-label="Voltar">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>Visualizar Trabalho</h1>
  </div>

  <div class="content">
    <form [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label>Data de entrega</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="deliveryForecast"
          readonly
        />
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email do Cliente</mat-label>
        <input matInput type="email" formControlName="customerEmail" readonly />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Valor Total</mat-label>
        <input
          matInput
          [value]="form.get('totalValue')?.value | currency : 'BRL' : 'symbol'"
          readonly
        />
      </mat-form-field>

      <div class="material-form">
        <div class="selected-materials-box">
          <h1>Trabalhos Selecionados</h1>
          <mat-card
            *ngFor="let work of selectedWorks"
            class="mat-elevation-z4 card-item"
          >
            <mat-card-content class="card-content">
              {{ work.name }}
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </form>
  </div>
</div>
