<div class="dialog-header">
  <h1>Visualizar Material</h1>
  <button mat-icon-button (click)="closeDialog()" aria-label="Fechar">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="dialog-content">
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" readonly />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Preço</mat-label>
      <input matInput formControlName="price" readonly />
    </mat-form-field>

    <mat-form-field appearance="fill" style="flex: 1">
      <mat-label>Quantidade</mat-label>
      <input matInput formControlName="quantityUnitMeasure" readonly />
    </mat-form-field>

    <mat-form-field appearance="fill" style="flex: 1">
      <mat-label>Unidade de Medida</mat-label>
      <mat-select
        formControlName="unitMeasure"
        (click)="$event.stopPropagation()"
      >
        <mat-option
          *ngFor="let unitOfMeasure of unitOfMeasureList"
          [disabled]="true"
          [value]="unitOfMeasure.name"
        >
          {{ unitOfMeasure.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
