<div class="material-view">
  <div class="header">
    <button mat-icon-button (click)="back()" aria-label="Voltar">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>Visualizar Material</h1>
  </div>
  
  <div class="content">
    <form [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" readonly />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Preço</mat-label>
        <input matInput formControlName="price" readonly />
      </mat-form-field>
  
      <mat-form-field appearance="fill" style="flex: 1">
        <mat-label>Quantidade</mat-label>
        <input matInput formControlName="quantityUnitMeasure" readonly />
      </mat-form-field>
  
      <mat-form-field appearance="fill" style="flex: 1">
        <mat-label>Unidade de medida</mat-label>
        <input matInput formControlName="unitMeasure" readonly />
      </mat-form-field>
    </form>
  </div>
  
</div>