<div class="modal-body">
  <div class="modal-header">
    <h2 class="modal-title">
      {{
        mode === "create"
          ? "Novo Material"
          : mode === "edit"
          ? "Editar Material"
          : "Visualizar Material"
      }}
    </h2>
    <button mat-icon-button (click)="closeModal()" aria-label="Fechar">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <app-material-form
    [mode]="mode"
    [materialData]="materialData"
    (formSubmit)="handleFormSubmit($event)"
  ></app-material-form>
</div>
