<div class="work-view">
  <div class="header">
    <button mat-icon-button (click)="back()" aria-label="Voltar">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>Visualizar Trabalho</h1>
  </div>

  <div class="content">
    <form [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" readonly/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Preço Mão de Obra</mat-label>
        <input
          matInput
          [value]="form.get('laborPrice')?.value | currency : 'BRL' : 'symbol'"
          formControlName="laborPrice"
          readonly
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Preço Materiais</mat-label>
        <input
          matInput
          [value]="form.get('materialPrice')?.value | currency : 'BRL' : 'symbol'"
          formControlName="materialPrice"
          readonly
        />
      </mat-form-field>

      <div class="material-form">
        <div class="selected-materials-box">
          <h1>Materiais Selecionados</h1>
          <mat-card
            *ngFor="let material of selectedMaterials"
            class="mat-elevation-z4 card-item"
          >
            <mat-card-content class="card-content">
              {{ material.name }}
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </form>
  </div>
</div>
