<mat-accordion class="accordion">
  <mat-expansion-panel #panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{
          mode === 'create'
            ? 'Novo Material'
            : mode === 'edit'
            ? 'Editar Material'
            : 'Visualizar Material'
        }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-material-form
      [mode]="mode"
      [materialData]="materialData"
      (formSubmit)="handleFormSubmit($event, panel)"
    ></app-material-form>
  </mat-expansion-panel>
</mat-accordion>
