@import '../../../variables.scss';

.confirmation-dialog {
    padding: 0 20px 20px 20px;

    h1 {
        font-size: 1.3em;
    }

    .action-group {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin-top: 30px;
    }

    .confirm-btn {
        background-color: $success-color; 
        color: $white;
        &:hover {
            background-color: darken($success-color, 10%);
        }
        padding: 10px;
        border-radius: 10px;
        margin-left: 10px;
    }
}
