<mat-accordion class="accordion">
  <mat-expansion-panel #panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{
          mode === 'create'
            ? 'Novo Trabalho'
            : mode === 'edit'
            ? 'Editar Trabalho'
            : 'Visualizar Trabalho'
        }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-work-form
      [mode]="mode"
      [workData]="workData"
      (formSubmit)="handleFormSubmit($event, panel)"
    ></app-work-form>
  </mat-expansion-panel>
</mat-accordion>