<mat-accordion class="accordion">
  <mat-expansion-panel #panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{
          mode === "create"
            ? "Novo Trabalho"
            : mode === "edit"
            ? "Editar Trabalho"
            : "Visualizar Trabalho"
        }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="form" (ngSubmit)="onSubmit(panel)">
      <div class="mb-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
      </div>

      <div class="mb-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Preço mão de obra</mat-label>
          <input matInput formControlName="laborPrice" />
        </mat-form-field>
      </div>

      <div class="mb-3">
        <app-material-select-list
          [selectedMaterialIds]="selectedMaterialIds"
          [mode]="mode"
          (selectedMaterialsChange)="onSelectedMaterialsChange($event)"
        >
        </app-material-select-list>
      </div>

      <div class="modal-footer d-flex justify-content-end">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!form.valid"
        >
          Salvar
        </button>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>
