.material-select-list {
  width: 100%;

  .material-form {
    display: flex;
    flex-direction: column;

    .material-select {
      width: 100%;
    }  

    app-material-form-accordion {
      width: 100%;
    }
  }

  .selected-materials-box {
    .card-item {
      margin-bottom: 10px
    }
  }
}