<div class="material-select-list">
  <div class="material-form d-flex align-items-center" *ngIf="mode !== 'view'">
    <mat-form-field appearance="outline" class="material-select flex-grow-1">
      <mat-select
        placeholder="Selecione os materiais"
        [value]="selectedMaterialIds"
        (selectionChange)="updateSelection($event.value)"
        multiple
        panelClass="custom-overlay-pane"
      >
        <mat-option *ngFor="let material of dataSource" [value]="material.id">
          {{ material.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="selected-materials-list" *ngIf="selectedMaterials.length > 0">
    <div class="d-flex align-items-center material-item" *ngFor="let material of selectedMaterials">
      <div class="material-info">
        <span class="material-name">
          {{ material.name }}
        </span>
        <span class="material-unit">
          ({{ material.unitMeasure }})
        </span>
      </div>
      <mat-form-field appearance="outline" class="bulk-quantity-input">
        <mat-label>Qtd</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="material.bulkQuantity"
          (ngModelChange)="onBulkQuantityChange(material.id, material.bulkQuantity)"
          [disabled]="mode === 'view'"
        />
      </mat-form-field>
    </div>
  </div>
</div>
