<div class="material-select-list">
  <div class="material-form d-flex align-items-center" *ngIf="mode !== 'view'">
    <mat-form-field
      appearance="outline"
      class="material-select flex-grow-1"
    >
      <mat-select
        placeholder="Selecione os materiais"
        [value]="selectedMaterialIds"
        (selectionChange)="updateSelection($event.value)"
        multiple
        panelClass="custom-overlay-pane"
      >
        <mat-option *ngFor="let material of dataSource" [value]="material.id">
          {{ material.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <app-material-form-accordion (materialSaved)="onMaterialSaved()" *ngIf="mode === 'create'"></app-material-form-accordion>
  </div>

  <div class="selected-materials-box" *ngIf="mode === 'view'">
    <p>Materiais Selecionados</p>
    <mat-card
      *ngFor="let material of selectedMaterialObjects"
      class="mat-elevation-z4 card-item"
    >
      <mat-card-content class="card-content">
        {{ material.name }}
      </mat-card-content>
    </mat-card>
  </div>
</div>
