@import '../../../../variables.scss';

.login-form {
	display: flex;
	flex-direction: column;
  	justify-content: center;
  	align-items: center;
 	padding: 20px;

  	mat-form-field {
 		margin-bottom: 20px;
	}

 	button {
  		width: 100%;
  		margin-top: 10px;
  		background-color: $principal-color;
  		color: $button-color;
 	}

	.full-width {
		width: 100%;
	}

	h2 {
		font-size: $font-size-large;
	}

	p {
		text-align: center;
		margin-top: 20px;
	}
}
