<div class="material-create">
  <div class="header">
    <button mat-icon-button (click)="back()" aria-label="Voltar">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>Adicionar Trabalho</h1>
  </div>

  <div class="content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Preço</mat-label>
        <input matInput formControlName="price" />
      </mat-form-field>

      <div class="material-form">
        <app-material-card-list
          (selectedMaterialsChange)="onSelectedMaterialsChange($event)"
        ></app-material-card-list>
      </div>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!form.valid"
      >
        Salvar
      </button>
    </form>
  </div>
</div>
